@{
    ViewBag.Title = "Collect";
}

@*<div class="container main-content">
	<h2>Collect started!</h2>
</div>*@


<div class="jumbotron">
	<div class="container">
		<h1>Collect started!</h1>
		<p>It may take a several hours...</p>
		<p><a class="btn btn-primary btn-lg">Go to dashboard &raquo;</a></p>
	</div>
</div>




