@{
    ViewBag.Title = "Collect started";
}

<div class="jumbotron">
	<div class="container">
		<h1>Collect started!</h1>
		<p>It may take a several hours...</p>
		<p>@Html.ActionLink("Go to home page »", "Index", new { controller = "Home" }, new { @class = "btn btn-primary btn-lg" })</p>
	</div>
</div>

<div class="container">
	
</div>




