<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
	<add name="postgresql" connectionString="Server=vs2013-ipk.cloudapp.net;Port=5432;User Id=postgres;Password=123;Database=unisocial;SyncNotification=true;"/>
  </connectionStrings>
  <appSettings>
	<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	<add key="vkAuthToken" value="031a1692f3b80a180429bca8d58533f6b35716f44bd4df6d86ca53855f7f40f3e755a576a6a722f80a89b"/>
  </appSettings>
  <system.diagnostics>
	<sources>
	  <source name="primes" switchValue="All">
		<listeners>
		  <!--<add name="console" type="System.Diagnostics.ConsoleTraceListener"/>-->
		  <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Temp\Worker.log"/>
		</listeners>
	  </source>
	</sources>
  </system.diagnostics>
  <system.web>
	<compilation debug="true" />
  </system.web>
  <system.serviceModel>
	<services>
	  <service name="Service.UniSocialService" behaviorConfiguration="UnisocialServiceBehaviors">
		<endpoint address="" binding="wsHttpBinding" contract="Service.IUniSocial" />
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	  </service>
	</services>
	<behaviors>
	  <serviceBehaviors>
		<behavior name="UnisocialServiceBehaviors" >
		  <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
		</behavior>
	  </serviceBehaviors>
	</behaviors>
  </system.serviceModel>
</configuration>