<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
	<add name="postgresql" connectionString="Server=vs2013-ipk.cloudapp.net;Port=5432;User Id=postgres;Password=123;Database=unisocial;SyncNotification=true;"/>
  </connectionStrings>
  <appSettings>
	<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	<add key="vkAuthToken" value="031a1692f3b80a180429bca8d58533f6b35716f44bd4df6d86ca53855f7f40f3e755a576a6a722f80a89b"/>
	<add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.diagnostics>
	<sources>
	  <source name="primes" switchValue="All">
		<listeners>
		  <!--<add name="console" type="System.Diagnostics.ConsoleTraceListener"/>-->
		  <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\temp\collect\Worker.log"/>
		</listeners>
	  </source>
	</sources>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="Service.UniSocialService">
        <endpoint address="" binding="basicHttpBinding" contract="Service.IUniSocial">
          <!--<identity>
            <dns value="localhost" />
          </identity>-->
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <!--<add baseAddress="http://localhost:8733/Design_Time_Addresses/Service/Service1/" />-->
			<add baseAddress="http://127.0.0.1:9000"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
