@{
    ViewBag.Title = "Home Page";  
}

<div class="jumbotron">
	<div class="container">
		<h1>Current collect tasks</h1>
		<p>Bla-bla-bla</p>
		<p><a class="btn btn-primary btn-lg">Go to dashboard &raquo;</a></p>
	</div>
</div>

<div class="container">

	test

</div><!-- /.container -->
